# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/*
.ipynb_checkpoints/*
cpu/.idea/*
cpu/cmake-build-debug/*
cpu/cmake-build-release/*
cpu/out/*
cuda/.vs/*
cuda/x64/*